header {
  display: flex;
  background-color: rgb(222, 190, 222);
  padding: 3px;
}

.nowShowing,
.opening,
.feature {
  display: flex;
  padding: 3%;
}

h2 {
  text-align: center;
}

ul {
  padding: 0%;
}

li {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.feature {
  background: -webkit-linear-gradient(rgb(222, 190, 222), rgb(103, 82, 103));
}

.nav-link {
  color: black;
}

.bold {
  font-weight: 800;
}

footer {
  margin-left: 15px;
}

.nav-link {
  color: ;
}

.pad-left {
  margin-left: 50px;
}

.col-md-8 {
  margin-top: 40px;
}

.btn {
  float: right;
}